<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hemendra.books">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.BooksActivity"
            android:configChanges="screenSize|orientation"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>

        <provider
            android:authorities="hemendra.books.view.search.SuggestionsProvider"
            android:name="hemendra.books.view.search.SuggestionsProvider"
            android:exported="false"/>
    </application>

</manifest>